.container {
    background-color: rgb(255, 255, 255);
}
hr {
    margin: 0;
    color: rgb(62, 62, 62);
    border-bottom: 0.1px;
}

body {
    margin: 0;
}

#icon {
    margin-top: 9px;
    margin-bottom: 6px;
    margin-right: 3px;
    width: 15px;
    height: 15px;
}

p {
    font-size: small;
    margin-top: 7px;
    margin-bottom: 0;
    color: rgb(125, 80, 25);
}

.lan {
    background-color: rgb(235, 255, 233);
    color: rgb(64, 64, 64);
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: small;
    font-weight: bold;
    border: 2px solid transparent;
    transition: border 0.2s;
    box-shadow: 0px 0px 2px #000;
}

.lan:hover {
    border: 2px solid rgb(221, 252, 248);

}

.lan:active {
    color: rgb(81, 182, 182);
}

.topbar {
    background-color: #ffffff;
    justify-content: end;
    display: flex;
    height: 30px;

}

.middlebar {
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    align-content: center;
}

.logo {
    margin-top: 2px;
    margin-left: 8px;
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-image: url(/image/동식.png);
}